.body {
  background-color: #e5e5e5;
  color: #212121;
}

/* logo */
.logo-part-1 {
  color: #2196f3;
}
.logo-part-2 {
  color: #000000;
}

/* list */
.list {
  list-style: none;
}

/* site-nav */
.site-nav .link-studio {
  color: #2196f3;
}
.site-nav .link-studio:focus {
  color: ;
}
.site-nav .link {
  color: #212121;
}
/* колір заголовків чорний #212121; */

/* колір текстів сірий #757575; */

/* колір героя білий #FFFFFF; */

/* колір студії блакитний #2196F3; мейлу в шапці блакитний #2196F3; */

/* колір портфоліо, контактів у шапці чорний #212121;  */

/* колір телефону в шапці сірий #757575; */

/* колір лого у шапці чорний rgba (0, 0, 0, 0.25) блакитний #2196F3; */

/* телефон і мейл у футері rgba(255, 255, 255, 0.6) */
/* адреса у футері #FFFFFF */
/* лого у футері білий #FFFFFF; і блакитний #2196F3; */
