:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2196f3;
  --secondary-text-color: #ffffff;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Raleway', sans-serif;
  font-family: 'Roboto', sans-serif;
}

/* Header*/

.logo-header {
  width: 145px;
  height: 31px;
  left: 215px;
  top: 24px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-decoration: none;
}

.logo-header-primary {
  color: #2196f3;
}
.logo-header-secondary {
  color: #000000;
}

/* List */
ul {
  list-style: none;
}

/* Site-nav */
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

/* Auth-nav */
.auth-nav .link-mail {
  text-decoration: none;
  width: 135px;
  height: 16px;
  left: 1078px;
  top: 32px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.auth-nav .link-tel {
  color: var(--primary-text-color);
  text-decoration: none;
  width: 122px;
  height: 16px;
  left: 1263px;
  top: 32px;
}

.auth-nav .link-mail:hover,
.auth-nav .link-tel:hover,
.auth-nav .link-mail:focus,
.auth-nav .link-tel:focus {
  color: var(--accent-text-color);
}

/* Hero */
.hero-title {
  color: var(--secondary-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
}

.hero {
  background: #2f303a;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
}

/* Button */
.button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Section */
.section-title {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Features */
.feature-list .title {
  color: var(--title-text-color);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Examples of work */
.work-list {
}

/* Team */
.team-list .title {
  color: var(--title-text-color);
  width: 151px;
  height: 19px;
  left: 275px;
  top: 1925px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

.page-footer {
  background: #2f303a;

  /* Logo-footer */
}
.logo-footer-primary {
  color: #2196f3;
  text-decoration: none;
}
.logo-footer-secondary {
  color: #ffffff;
  text-decoration: none;
}

/* Address-footer */
.contact-list .address-link {
  color: var(--secondary-text-color);
  text-decoration: none;
  font-style: normal;
}

.contact-list .address-link:hover,
.contact-list .address-link:focus {
  color: var(--accent-text-color);
}

.contact-list .mail-link,
.contact-list .tel-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
}

.contact-list .mail-link:hover,
.contact-list .mail-link:focus {
  color: var(--accent-text-color);
}

.contact-list .tel-link:hover,
.contact-list .tel-link:focus {
  color: var(--accent-text-color);
}

/* Styles for portfolio */
