:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-background-color: #e5e5e5;
  --secondary-background-color: #2196f3;
  --secondary-text-color: #ffffff;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: 'Roboto';
}

/* Logo-header*/
.logo-header-1 {
  color: #2196f3;
  text-decoration: none;
}
.logo-header-2 {
  color: #000000;
  text-decoration: none;
}

/* List */
ul {
  list-style: none;
}

/* Site-nav */
.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

/* Auth-nav */
.auth-nav .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-text-color);
}

/* Hero */
.hero-title {
  color: var(--secondary-text-color);
}

.hero {
  background: #2f303a;
}

/* Button */
.button {
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
}

/* Section */
.section-title {
  color: var(--title-text-color);
}

/* Features */
.feature-list .title {
  color: var(--title-text-color);
}

/* Examples of work */
.work-list {
}

/* Team */
.team-list .title {
  color: var(--title-text-color);
}

/* Logo-footer */
.logo-footer-1 {
  color: #2196f3;
  text-decoration: none;
}
.logo-footer-2 {
  color: #ffffff;
  text-decoration: none;
}

/* Address */
.contact-list .address-link {
  color: var(--secondary-text-color);
  text-decoration: none;
}

.contact-list .address-link:hover,
.contact-list .address-link:focus {
  color: var(--accent-text-color);
}

.contact-list .mail-link,
.contact-list .tel-link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.contact-list .mail-link:hover,
.contact-list .mail-link:focus {
  color: var(--accent-text-color);
}

.contact-list .tel-link:hover,
.contact-list .tel-link:focus {
  color: var(--accent-text-color);
}

.page-footer {
  background: #2f303a;
}
